.menuText {
  display: table;
  margin: 20px auto;
}
.btn-my {
  position: absolute;
  left: 80%;
}
.allLinks {
  display: table;
  margin: auto auto;
}
.allLinks h2 {
  text-align: center;
}
.allLinksItem {
  text-decoration: none;
}
.shortLink {
  text-align: center;
  margin: 20px;
}